body {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

canvas {
	background-color: rgb(20, 20, 20);
	user-select: none;
}

.buttons {
	position: absolute;
	display: flex;
	user-select: none;
	left: 0vh;
	top: 1.5vh;

	.button {
		background-color: rgb(50, 50, 50);
		margin-left: 1.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

		border: 0.4vh solid rgb(50, 50, 50);
		border-radius: 2vh;
		width: 6vh;
		height: 5vh;
		padding: 0.5vh;

		img {
			width: 5vh;
			height: 5vh;
			user-select: none;
		}
	}

	.button:active {
		background-color: rgb(35, 35, 35);
	}
}

.cr {
	position: absolute;
	color: rgb(180, 180, 180);
	font-family: Helvetica;
	font-weight: bold;
	user-select: none;

	bottom: 1.5vh;
	font-size: 3vh;
	left: 1.5vh;
}

.ver {
	position: absolute;
	color: rgb(180, 180, 180);
	font-family: Helvetica;
	font-weight: bold;
	user-select: none;

	bottom: 1.5vh;
	font-size: 3vh;
	right: 1.5vh;
}